@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* globally giving the theme color as black andwhite  is given in the root */
:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    background-color: black;
    background-color: aliceblue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 112px;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 13px;
    height: 10px;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color:#000;
    border-radius: 20px;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/org2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10;
}

.terms-box{
    
    max-width: 600px;
    background-color: white;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 20px;
    height: 500px;
    overflow-y: auto;
    font-size: 14px;
}
.terms-text{
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14;
    font-weight: 500;
    color: #111;
}
.terms-text::-webkit-scrollbar{
    width: 2px;
    background-color: #282828;
}
.terms-text::-webkit-scrollbar-thumb{
    background-color: #f1f1f1;
}
.terms-text h2{
    text-transform: uppercase;
}
.terms-text h4{
    font-size: 13px;
    text-align: center;
    padding: 0 40px;
}
.terms-box h4 span{
    color: rgb(245, 68, 68);
    text-transform: uppercase;
}
.buttons{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    padding-bottom: 50px;
}
.btn{
    height: 50px;
    width: calc(50% - 6px);
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    transition: .3s linear;
    cursor: pointer;
}
.red-btn{
    background-color: rgb(245, 68, 68);
}
.gray-btn{
    background-color: #282828;
}
.btn:hover{
    opacity: .6;
}

   